<nav class="sub-nav" id="sub-nav">
  <div class="container">
    <a href="{{ '/forge/' | relative_url }}"{% if page.url == '/forge/' or page.url == '/forge/index.html' %} class="active"{% endif %}>Overview</a>
    <a href="{{ '/forge/services/' | relative_url }}"{% if page.url contains '/forge/services' %} class="active"{% endif %}>Services</a>
    <a href="{{ '/forge/products/' | relative_url }}"{% if page.url contains '/forge/products' %} class="active"{% endif %}>Products</a>
  </div>
</nav>
